@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

:root {
  scroll-behavior: smooth;
  --color-primary: rgb(51, 51, 51);
  --color-secondary: cornflowerblue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-width: 320px;
  background-size: cover;
  background-position: center;
  color: white;
}

body {
  animation: animation-body 1s linear;
}

@keyframes animation-body {
  0% {
    filter: blur(10px) brightness(0);
  }
  50% {
    filter: blur(5px) brightness(50%);
  }
  100% {
    filter: blur(0) brightness(100%);
  }
}

/* --- SCROLLBAR--- */
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) black;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 20px;
  /* border: 3px solid orange; */
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

input,
textarea {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

/*-------------- HEADER -----------------*/

.main-header {
  background-image: linear-gradient(var(--color-primary), black);
}

.container-top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1040px;
  padding: 0 10px;
  margin: auto;
  height: 51px;
}

.container-closebutton-and-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
  height: 100%;
  background-image: linear-gradient(var(--color-primary), black);
  z-index: 1;
}

.container-closebutton-and-menu-block {
  display: flex;
}

.my-logo {
  font-size: 1.5rem;
  cursor: default;
  font-family: "Lobster", cursive;
}

.container-closebutton-and-menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.button-open-menu,
.button-close-menu {
  background-color: transparent;
  border: none;
}

.button-close-menu {
  margin-right: 10px;
}

.button-open-menu img,
.button-close-menu img {
  vertical-align: middle;
}

.button-close-menu {
  align-self: flex-end;
}

.container-linkedin-github {
  display: flex;
  column-gap: 10px;
}

.container-linkedin-github a {
  display: flex;
}

.link-nav::after {
  content: "";
  display: block;
  height: 1px;
  background-color: white;
  transform: scale(0, 0);
  transform-origin: left;
  transition: transform 0.3s;
}

.link-nav:hover::after {
  transform: scale(1, 1);
}

.linkedin-icon,
.github-icon {
  width: 30px;
  filter: invert(100%);
  transition: transform 0.5s;
}

.linkedin-icon:hover,
.github-icon:hover {
  transform: scale(1.05);
}

/*--------------- FOOTER ------------------*/

.main-footer {
  background-image: linear-gradient(black, var(--color-primary));
  text-align: center;
  padding: 40px;
}

/*--------------- INTRO -------------------*/

.container-intro-bg-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(assets/images/una-taza-de-javascript.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container-intro {
  min-height: calc(100vh - 51px);
  max-width: 1040px;
  margin: auto;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  align-items: center;
}

.container-text-social-cv-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.name-intro {
  font-size: 1.5rem;
  font-weight: 600;
}

.frontend-developer-intro {
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
  background-image: linear-gradient(to right, var(--color-secondary), white);
  /* -webkit-text-fill-color: transparent; */
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.info-intro {
  font-size: 12px;
  opacity: 0.8;
  max-width: 409px;
  text-align: center;
}

.container-skills {
  background-image: linear-gradient(rgb(51, 51, 51, 0.85), rgba(0, 0, 0, 0.85));
  border-radius: 1rem;
  display: flex;
  padding: 10px 10px 10px 0;
}

.container-skills img {
  width: 50px;
  aspect-ratio: 3/2;
  animation: animation-skills 1.5s linear infinite;
}

@keyframes animation-skills {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}

.download-cv {
  background-image: linear-gradient(var(--color-secondary), rgb(12, 12, 12));
  padding: 10px 30px;
  border-radius: 1rem;
  transition: 0.3s;
  /* height: 25px;
  box-sizing: content-box;
  display: flex; */
}

.download-cv:hover {
  filter: contrast(1.15);
}

/* .download-cv::after {
  content: url(assets/images/download.svg);
  margin-left: 5px;
  animation: animation-download 1s linear infinite;
}

@keyframes animation-download {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-5px);
  }
} */

.img-intro {
  width: 300px;
  border-radius: 100%;
  background-image: radial-gradient(
    rgb(0, 0, 0, 0.8) 40%,
    rgb(100, 149, 237, 0.8)
  );
}

.img-intro {
  animation: animation-mi-imagen 4s linear infinite;
}

@keyframes animation-mi-imagen {
  0% {
    transform: translateX(-10px) translateY(0px);
  }
  25% {
    transform: translateX(0px) translateY(10px);
  }
  50% {
    transform: translateX(10px) translateY(0px);
  }
  75% {
    transform: translateX(0px) translateY(-10px);
  }
  100% {
    transform: translateX(-10px) translateY(0px);
  }
}

@media (min-width: 768px) {
  @keyframes animation-mi-imagen {
    0% {
      transform: translateX(-20px) translateY(0px);
    }
    25% {
      transform: translateX(-10px) translateY(10px);
    }
    50% {
      transform: translateX(0px) translateY(0px);
    }
    75% {
      transform: translateX(-10px) translateY(-10px);
    }
    100% {
      transform: translateX(-20px) translateY(0px);
    }
  }
}

/* .container-aboutme {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://www.azulschool.net/wp-content/uploads/2020/05/HTML-CSS-y-JavaScript-el-est%C3%A1ndar-universal.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
} */

/*-------------- PROJECTS ----------------*/

.container-projects-bg-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(assets/images/react-galaxia.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.container-projects {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  padding: 20px 10px;
}

.title-section {
  font-weight: 900;
  background-image: linear-gradient(to right, var(--color-secondary), white);
  color: transparent;
  -webkit-background-clip: text;
}

.cards-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
  row-gap: 15px;
}

.card-project {
  width: 320px;
  border: 1px solid rgb(85, 85, 85);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card-project:hover {
  border-color: white;
  transform: translateY(-5px);
}

.cards-projects:has(.card-project:hover) > .card-project:not(:hover) {
  filter: brightness(0.45);
}

.card-project:nth-child(n + 4) {
  display: none;
}

.img-card {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: top;
}

.info-card {
  padding: 10px;
  height: calc(100% - 300px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;
  background-image: linear-gradient(to top, black, var(--color-primary));
}

.header-info-card {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.container-badges {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.badge {
  padding: 0 10px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 12px;
}

.badge-html {
  background-color: rgb(237, 97, 38);
}

.badge-css {
  background-color: rgb(73, 166, 221);
}

.badge-js {
  background-color: rgb(246, 226, 0);
  color: black;
}

.badge-react {
  background-color: rgb(110, 217, 251);
  color: black;
}

.badge-bootstrap {
  background-color: rgb(129, 0, 251);
}

.badge-rtk {
  background-color: rgb(94, 48, 137);
}

.badge-firebase {
  background-color: rgb(241, 132, 17);
  color: black;
}

.badge-next {
  background-color: black;
}

.badge-tailwind {
  background-color: rgb(56, 189, 248);
  color: black;
}

.badge-cloudinary {
  background-color: #3448c5;
  color: white;
}

.description-project {
  font-size: 12px;
  opacity: 0.8;
}

.buttons-card {
  display: flex;
  justify-content: space-evenly;
}

.buttons-card a {
  padding: 5px 20px;
  background-color: rgb(255, 255, 255);
  color: var(--color-primary);
  transition: 0.5s;
}

.buttons-card a:hover {
  background-color: var(--color-secondary);
  color: white;
}

.private-repo {
  visibility: hidden;
}

.see-btn {
  padding: 10px 30px;
  background-color: transparent;
  border: 2px solid rgb(225, 225, 225);
  color: white;
  font-weight: 500;
}

.see-btn:hover {
  background-color: rgb(225, 225, 225);
  color: black;
}

.see-less-btn {
  display: none;
}

.see-less-btn-block {
  display: block;
}

.see-more-btn-none {
  display: none;
}

/*---------------- Contact Me ---------------------*/

.container-contactme {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(assets/images/bg-contactme.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  padding: 20px 10px;
  min-height: 100vh;
}

#my-form {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 40px 10px 10px;
  border-radius: 5px;
  max-width: 700px;
  background-image: linear-gradient(
    to bottom right,
    rgb(20, 20, 20),
    var(--color-primary),
    rgb(20, 20, 20)
  );
}

.container-textarea {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#my-form label {
  display: block;
  padding-left: 7.5px;
}

#my-form input,
#my-form textarea {
  width: 100%;
  padding: 5px 7.5px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(230, 230, 230);
  color: var(--color-primary);
}

#my-form input:focus,
#my-form textarea:focus {
  outline: none;
  background-color: white;
}

#my-form input {
  height: 2.25rem;
}

#my-form textarea {
  resize: none;
  flex-grow: 1;
  min-height: 150px;
}

#my-form button {
  align-self: center;
  padding: 5px 30px;
  border: 1px solid black;
  background-color: white;
  color: var(--color-primary);
}

/* // Dispositivos X-Small (teléfonos verticales, menos de 576px)
// No hay media queries para `xs` ya que este es el valor predeterminado en Bootstrap */

/* // Dispositivos pequeños (teléfonos horizontales, 576px y más) */
@media (min-width: 576px) {
}

/* // Dispositivos medianos (tabletas, 768px y más) */
@media (min-width: 768px) {
  .button-open-menu,
  .button-close-menu {
    display: none;
  }

  .container-closebutton-and-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
    position: static;
    width: auto;
  }

  .container-closebutton-and-menu ul {
    flex-direction: row;
    row-gap: 0;
    column-gap: 20px;
  }

  /*--------------- INTRO -------------------*/

  .container-intro {
    flex-direction: row;
    justify-content: space-between;
  }

  .container-text-social-cv-intro {
    align-items: flex-start;
  }

  .frontend-developer-intro {
    text-align: start;
  }

  .info-intro {
    text-align: start;
  }
}

/* // Dispositivos grandes (escritorios, 992px y más) */
@media (min-width: 992px) {
}

/* // Dispositivos X-Large (escritorios grandes, 1200px y más) */
@media (min-width: 1200px) {
}

/* // Dispositivos XX-Large (escritorios más grandes, 1400px y más) */
@media (min-width: 1400px) {
}

.animation-scroll-elem {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: 1s;
}

.animation-scroll-elem-visible {
  opacity: 1;
  transform: translate(0, 0);
}

/* También es posible utilizar condiciones de rango, que son algo más versátiles que las anteriores y mucho menos tediosas. La diferencia en esta sintaxis es que puede utilizar operadores matemáticos que harán que las condiciones sean mucho más legibles y fáciles de interpretar.
Como puedes ver, al poder utilizar los operadores >, >=, <, <= en las condiciones, se hace mucho más intuitivo el determinar las condiciones de los media queries. Sin embargo, ten en cuenta que algunos navegadores antiguos podrían no tener soporte. */
@media (width >= 1000px) {
}
